body {
	/*esto es para q se extienda por toda la pagina*/
	margin: 0;
	overflow: hidden;
}
#canvas {
	
	z-index: 99;
}
canvas { 
	height: 100%
	width: 100%;
}
#navbar-container {
	padding: 0;
}
#navbar {
	margin: 0;
}
.pt-5p {
	padding-top: 2.5%;
}
.pb-5p {
	padding-bottom: 5%;
}
.pl-15 {
	padding-left: 15px;
}
.pr-15 {
	padding-right: 15px;
}
.text-bold {
	font-weight: bold;
}